graph {
    fill-color: rgb(255,255,255);
}
edge {
    size-mode: dyn-size;
    size: 2px;
    /*shape: cubic-curve;*/
    /*shape: blob;*/
}
node {
    size-mode: dyn-size;
	size: 10px;
	stroke-mode:plain;
	stroke-width:2px;
	stroke-color:#FFF8;
    text-alignment: above;
}
node.shadow {
    shadow-mode: gradient-radial; 
    shadow-width: 50px; 
    shadow-color: #FFFF00, #FFFFFF; 
    shadow-offset: 0px;
}
